  body {
                font-family: Arial, Helvetica, sans-serif;
                padding: 50px 50px 50px 50px;
                font-size: 18px;
            }

            button {
                cursor: pointer;
                border-radius: 5px;
            }

            .css_title {
                font-size: 25px;
                font-weight: bold;
                margin: 0px 0px 20px 0px;
            }

            .css_plate_row,
            .css_input_row {
                display: grid;
                grid-template-columns: 200px 200px 120px;

                column-gap: 20px;
                margin: 0px 0px 15px 0px;

                height: 50px;

                justify-items: stretch;
                align-items: stretch;
            }

            .css_input_text,
            .css_input_date {
                justify-self: stretch;
                align-self: stretch;
            }

            .css_addButton {
                background-color: rgb(0, 119, 0);
                color: white;
                border: none;
            }

            .css_delButton {
                background-color: rgb(201, 0, 0);
                color: white;
                border: none;
            }

            .css_list_name,
            .css_list_date {
                align-self: center;
            }